@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> CSS STANDARDS
----------------------------------------------------------------
1. Place in appropriate section
2. Add new sections to the Table of Contents as needed
3. Order properties consistently inside each declaration i.e. alphabetically or by function 
4. Declaration selectors should each occupy a new line
5. Enter one new line between rules
6. Enter more than one new line between categories 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Forms
        - Lists
        - Media
        - Tables
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Buttons
        - Header
        - Navigation 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	    
        - Color
        - Size

--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 SETTINGS
-------------------------------------------------------------- */



/*--------------------------------------------------------------
2.0 TOOLS
-------------------------------------------------------------- */


/*--------------------------------------------------------------
3.0 - GENERIC 
-------------------------------------------------------------- */

* {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
    }


/*--------------------------------------------------------------
4.0 - ELEMENTS 
-------------------------------------------------------------- */

a {
        text-decoration:none;
}


/* -- FORMS -- */ 


/*--------------------------------------------------------------
5.0 OBJECTS
-------------------------------------------------------------- */

/* -- FRAMEWORK -- */


.row {
        overflow:auto;
}

.flt-left {
        float:left;
}

.flt-right {
        float:right;
}

/*--------------------------------------------------------------
6.0 COMPONENTS
-------------------------------------------------------------- */
h1, footer > p:first-child, footer p:last-child a {
        color:#7B40BF;
}

h1, #contact p:first-child {
        text-transform:uppercase;
}

.wrapper > section:nth-of-type(4) section .row div:first-child  {
        background-color:#7840BF;
        width:40px;
        height:3px;
        margin-top:9px;
        margin-right:20px;
}

h1 span, footer span, i, .wrapper > p, time{
        color:#FF5C97;
}
.wrapper > header ul, h1, .wrapper > header > div, .wrapper > p, #services > header h2, #services > header + section, #pricing, #services > section:nth-of-type(2) > section:first-of-type h3, #services + section h2, #services + section blockquote > p, #services + section + section h2, .wrapper > footer p:last-child {
        text-align:center;
}

.wrapper > header li, footer nav:first-of-type li {
        margin-right:17px;
        margin-top:30px; 
        margin-bottom:30px;
        display:inline-block;
}

.wrapper > section:nth-of-type(4) a, .wrapper > header nav a, .wrapper > header nav a:visited, h2, h3, h4, .col-footer p {
        color:#2B4A80;
}

.wrapper > header > div a {
     background-color:#4043BC;
     width:calc(100%*1/4);
     margin:0 auto;
     padding:6px 15px;
}

.wrapper > header > div a, .btn-pink {
        color: #fff;
}

#about p, #services p, .wrapper > section:nth-of-type(3) p, footer address a, footer nav i, footer nav:nth-of-type(2) a, footer p:last-child {
        color:#707B8D;
}

.wrapper > p {
        font-size: 30px;
        font-weight:700;
}


#services > header {
        margin-bottom: 80px;
        margin-top:80px;
}

#services header + section header i {
        margin-bottom:10px;
}

#services header + section section a i {
        margin-top:25px;
        margin-bottom: 100px;
        margin-right:10px;
}

#services header + section section a, #services header + section section a i  {
        color:#C4CCD8;
}

#about h2 {
        width:55%;
}

#about p {
        margin-bottom:60px;
}

.btn-pink, .wrapper > header > div a, #services + section + section img, .generating-customers, .pricing-plan {
        -moz-border-radius:7px;
        -o-border-radius:7px;
        -ms-border-radius:7px;
        -webkit-border-radius:7px;
        border-radius:7px;
}

#services img, .col-new-customers:last-child {
        width:75%;
}

.col-new-customers:last-child {
        margin-right:60px;
}

.col-new-customers:first-child {
        margin-top:20px;;
}

.generating-customers, .pricing-plan {
        border:1px solid #C4CCD8;
        margin-bottom: 25px;
        width:95%;
}

#services + section h2 {
        margin-bottom:50px;
}

.generating-customers i {
        font-size:30px;
}

#pricing i {
        font-size:50px;
        margin-top:60px;
}

#pricing p:last-child {
        margin-bottom:70px;
}

#pricing h4 {
        font-size:25px;
        margin-top:15px
}

#col-quote img {
        width:30%;
        margin-top:10px;
        margin-left:5px;
}

#services + section + section img {
        width: 95%;
        margin-top:40px;
        margin-bottom:20px;
}

footer nav:nth-of-type(2) ul {
        list-style-type:none;
}

footer ul {
        padding-left:0;
}

#services section:first-of-type header i {
        font-size:45px;
}

#services > img + section > header p {
        margin-top:25px;
        margin-bottom:60px;
}

#services > img + section h3 {
        margin-top:80px;
        margin-bottom:60px;
}

#col-quote {
        margin:0 auto;
        width:50%;
}

#col-quote p:first-child {
        color:#2D1088;
        font-size:20px;
        font-weight:700;
        margin-bottom:0px;
}

#col-quote div {
        margin-right:5px;
}

#col-quote p:last-child {
        font-size:13px;
        margin-top:5px;
}

.wrapper > section:nth-of-type(4) h2 {
        margin-top:40px;
        margin-bottom:20px;
}

.wrapper > section:nth-of-type(4) .row {
        margin-top:30px;
        margin-bottom:30px;
}

#contact > p:first-child {
        font-size:20px;
}

#contact p:first-child span {
        margin-right:10px;
}

.col-footer {
        width:31%;
}

.col-footer:nth-child(2) {
        margin-left:23px;
}

.col-footer li {
        margin-bottom:10px;
}

.col-footer p {
        font-weight:600;
}



/* -- BUTTONS --*/

.btn-pink {
        background-color:#FF5C97;
        padding:15px 50px;
}


/*--------------------------------------------------------------
7.0 UTILITIES
-------------------------------------------------------------- */

